@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

body{
  display:flex;
  flex-direction: column;
  margin:0;
  font-family: 'Roboto';
}

.header, .intro, .footer{
  background-color: #1F2937;
  margin:0;
}


/*Header section code*/
a{
  text-decoration: none;
  color:#E5E7EB;
  margin-left:16px;
  text-align: center;
}
.header{
  display:flex;
  justify-content: center;
  padding:16px;
}
.logo{
  font-size: 24px;
  color:#F9FAF8;
}
.header-links, .logo{
  width:400px;
}
.header-links{
  text-align: end;
}
/*End Header section code*/



.content{
  display:flex;
  flex-direction: column;
  flex:1;
}


/*Intro section code*/
.intro{
  display:flex;
  justify-content: center;
  padding: 64px 16px 64px 16px;
  gap:16px;
}
.hero1{
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom:0;
}
.hero2{
  font-size:18px;
  color:#E5E7EB;
  margin-bottom:0;
  margin-top:0;
}

.intro-left, .intro-right{
  width: 400px;
}
.intro-right{
  background-color: grey;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-shrink:0;
  height:300px;
}
.sign-up{
  background-color: #3882F6;
  border:2px solid #3882F6;
  color: #F9FAF8;
  border-radius: 5px;
  width:100px;
  height:25px;
}
/*End Intro section code */



/*Info section code */
.information{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}
.info-pics-container{
  display:flex;
}
.pic-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100px;
  margin: 0 16px 0 16px;
}
.info-pic{
  border: 2px solid #3882F6;
  border-radius: 25px;
  width:100px;
  height:100px;
}
.info-text{
  text-align: center;
  color: #1F2937;
}
/* End Info section code */


/*Quote section code*/
.testimonial{
  display:flex;
  background-color: #E5E7EB;
  justify-content: center;
}
.quote{
  font-style:italic;
  font-weight: lighter;
  font-size: 36px;
  color: #1F2937;
  margin-bottom:0;
}
.quote-master{
  margin-top:0;
  text-align: end;
}
.quote-box{
  width:600px;
}
/*End Quote section code*/


/*Call to action section code*/
.call-to-action{
  display:flex;
  padding:64px;
  justify-content: center;
}
.call-box{
  border: 2px solid #3882F6;
  border-radius: 10px;
  background-color: #3882F6;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-text, .call-title{
  color: #F9FAF8;
}
.call-title{
  margin-bottom: 0;
}
.call-text{
  margin-top: 8px;
}
.call-button{
  background-color: #3882f6;
  border:2px solid #F9FAF8;
  color: #F9FAF8;
  border-radius: 5px;
  width:100px;
  height:25px;
}
.call-left{
  margin-left:32px;
  display:flex;
  flex-direction: column;
  flex:2;
}
.call-right
{
  display:flex;
  flex:1;
  align-items: center;
  justify-content: center;
}
/*End Call to action section code */







.footer{
  display:flex;
  justify-content: center;
  color: #F9FAF8;
}
