body{
  display:flex;
  flex-direction: column;
  margin:0;
  font-family: 'Roboto';
}

.header, .intro, .footer{
  background-color: #1F2937;
  margin:0;
}


/*Header section code*/
a{
  text-decoration: none;
  color:#E5E7EB;
}
.header{
  display:flex;
  justify-content: space-between;
}
.logo{
  font-size: 24px;
  color:#F9FAF8;
}
/*End Header section code*/



.content{
  display:flex;
  flex-direction: column;
}


/*Intro section code*/
.intro{
  display:flex;
  justify-content: center;
  padding: 64px 0 64px 0;
}
.hero1{
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom:0;
}
.hero2{
  font-size:18px;
  color:#E5E7EB;
  margin-bottom:0;
  margin-top:0;
}

.intro-left, .intro-right{
  width: 400px;
}
.intro-right{
  background-color: grey;
  display:flex;
  justify-content: center;
  align-items: center;
}
/*End Intro section code */



/*Info section code */
.information{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.info-pics-container{
  display:flex;
}
.info-pic{
  border:blue;
  width:100px;
  height:100px;
}
/* End Info section code */


/*Quote section code*/
.testimonial{
  display:flex;
  background-color: #E5E7EB;
  justify-content: center;
}
.quote{
  font-style:italic;
  font-weight: lighter;
  font-size: 36px;
  color: #1F2937;
  margin-bottom:0;
}
.quote-master{
  margin-top:0;
  text-align: end;
}
.quote-box{
  width:700px;
}
/*End Quote section code*/


.call-to-action{
  display:flex;
  background-color: #3882F6;
}

.footer{
  display:flex;
  justify-content: center;
}
